@import "tailwindcss";

:root {
	/* Colours */
	--noble-black-800: hsl(200 10% 6%);
	--noble-black-700: hsl(210 14% 9%);
	--noble-black-600: hsl(214 12% 12%);
	--noble-black-500: hsl(206 6% 23%);
	--noble-black-400: hsl(209 9% 51%);
	--noble-black-300: hsl(209 17% 72%);
	--noble-black-0: hsl(0, 0%, 100%);
	--noble-green-500: hsl(158 68% 41%);
	--noble-input-outline: hsla(193, 85%, 74%, 0.24);
	--glass-fill-gradient: linear-gradient(
		120deg,
		hsla(180, 38%, 89%, 1) 0%,
		hsla(180, 43%, 86%, 0) 100%
	);
	/* Typography */
	--plus-jakarta: "Plus Jakarta Sans";
}

@theme inline {
	--color-noble-black-800: var(--noble-black-800);
	--color-noble-black-700: var(--noble-black-700);
	--color-noble-black-600: var(--noble-black-600);
	--color-noble-black-500: var(--noble-black-500);
	--color-noble-black-400: var(--noble-black-400);
	--color-noble-black-300: var(--noble-black-300);
	--color-noble-black-0: var(--noble-black-0);
	--color-noble-green-500: var(--noble-green-500);
	--color-noble-input-outline: var(--noble-input-outline);

	--font-plus-jakarta: var(--plus-jakarta);
}

body {
	background-color: var(--color-noble-black-700);
	font-family: var(--plus-jakarta);
}

.bg-glass-fill-gradient {
	position: relative;
	border-top: 1px solid hsla(0, 0%, 100%, 0.2);
}

.bg-glass-fill-gradient::before {
	content: "";
	position: absolute;
	inset: 0;
	background-image: var(--glass-fill-gradient);
	opacity: 0.16;
	pointer-events: none;
}
